@{
    ViewBag.Title = "Home";
}
<a name="about"></a>
@Html.Partial("_About")
<a name="services"></a>
@Html.Partial("_Services")
<a name="team"></a>
@Html.Partial("_Team")
<a name="values"></a>
@Html.Partial("_Values")
<a name="contact"></a>
@Html.Partial("_Contact")

